@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

:root{
   --cor1: #edeef3;
   --cor2: #f5dde0;
   --cor3: #eabec3;
   --cor4: #dd868c;
   --cor5: #d0637c;

   --fonte-padrao: 'Poppins', sans-serif;
   --fonte-destaque: 'Oswald', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/*mobile first*/
body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor2);
}

header{
    padding: 20px;
    padding-bottom: 0px;
    margin: auto;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3.25em;   
}

main{
    padding-top: 20px;
    margin: auto;
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > section#calc{
    padding: 0 2px 10px 2px;
    font-size: 1.2em;
    width: 100%;
    height: 80%;
}

/*main > section#calc > div#superior{
    display: block;
    justify-content: space-around;
}*/

main > section#calc > div#superior > input#visor{
    padding: 1px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 65px;
    width: 75%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    line-height: 75px;
}

main > section#calc > div#superior > button.tec1{
    width: 15%;
    height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    font-size: 1.2em;
}

main> section#calc > div#teclado{
    margin: auto;
    width: 95%;
    height: 80%;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: baseline;
}

main> section#calc > div#teclado > button.tec{
    margin: 2px;
    width: 21%;
    height: 18%;
    align-self: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    font-size: 1.2em;
}

main> section#modo {
    margin-top: 15px;
}

main> section#modo> button{
    padding: 5px;
    margin: 5px;
    width: 40%;
    background-color: white;
    border: .1em solid black;
    border-radius: 5px;
    font-family: var(--fonte-padrao);
}

@media screen and (min-width: 600px) {
    header > h1 {
        font-size: 4.25em;   
    }

    main {
        width: 450px;
        padding-top: 0;
    }

    main > section#calc > input#visor{
        height: 12%;
        font-size: 1.35em;
    }

    main> section#modo> button{
        font-size: 1.25em;
        margin-left: 15px;
        border: 0.08em solid black;
    }
}